body {
    font-family: Helvetica;
    background-color: #ffffff;
}

li {
    list-style-type: none;
} 

ul {
    margin: 10px;
    padding: 0;
}

.top-nav {
    display: flex;
    flex-direction: row;
    line-height: 200%;
  }

a {
    color: black;
    text-decoration: none;
    padding: 0.8em;
    padding-top: 0.8em;
}

a:hover {
    color: red;
}